<div class="text-center">
    <h2><strong>Új alkatrésztípus felvétele</strong></h2>
</div>

<%= render 'form' %>

<%= button_to 'Vissza', componenttypes_path, {class: "btn btn-info", method: :get} %>

