<div class="text-center">
    <h2><strong>Alkatrésztípus megtekintése</strong></h2>
</div>

<p>
  <strong>Név:</strong>
  <%= @componenttype.name %>
</p>

<% if can? :update, @componenttype %> 
   <%= button_to 'Szerkeszt', edit_componenttype_path(@componenttype), {class: "btn btn-danger" , method: :get} %> 
<% end %>

<%= button_to 'Vissza', componenttypes_path, {class: "btn btn-info", method: :get} %>

