<div class="text-center">
    <h2><strong>Új alkatrész igény leadása</strong></h2>
    <h3>Töltse ki mindegyik mezőt a sikeres új alkatrész igényléséhez, majd nyomja meg a "Igénylés" gombot.</h3>
</div>

<%= render 'new_purchase_form' %>

<%= button_to 'Vissza', components_path, {class: "btn btn-info", method: :get} %>
