<div class="text-center">
    <h2><strong>Gyártó szerkesztése</strong></h2>
</div>

<%= render 'form' %>

<%= link_to 'Megnéz', @manufacturer %> |
<%= button_to 'Vissza', manufacturers_path, {class: "btn btn-info", method: :get} %>
