<p>Szervusz <%= @resource.email %>!</p>

<p>Valaki jelszó helyreállítást kezdeményezett. A lenti linken keresztül tudja helyreállítani.</p>

<p><%= link_to 'Jelszó megváltoztatása', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Ha nem Ön kezdeményzete ezt, akkor hagyja figyelmen kivül ezt a levelet.</p>
<p>A jelszava addig nem változik meg, amig a fenti linkre nem kattint.</p>
