form div {
	margin:0 0 15px 0;
}

form input {
	padding:5px;
}

div#errors {
	color:#900;
	font-weight:bold;
}


form div.field_with_errors input {
	margin-bottom:0;
	font-weight:bold;
  border: 2px solid #900;
  border-radius:2px;

}

form div.field_with_errors label {
	color:#900;
	font-weight:bold;
}

div.remoteform {
	background-color:#eee;
	padding:10px;
	margin-bottom:20px;
}

#error_explanation {
	color:#990000;
}

