.component_details p{
  width: 100%;
  margin: 0 0 3px 0;
}

.component_details p strong {
  width: 240px;
  float: left;
  text-align: right;
  padding-right: 10px;
}

.buttons .btn {
  margin: 15px 150px 15px 10px;
  float: left;
}

.field label {
 float: left;
 width: 250px;
 text-align: right;
 padding-top: 3px;
 margin-right: 5px;
}

footer {
  clear: left;
}
