<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-eduiv='Content-Type'/>
    </head>
    <body>
        <h1> Alkatrész rendelés szükséges </h1>
        <br>
        Alkatrész neve: <%= @component.name %> <br>
        Aktuális darabszám: <%= @component.inventory %> <br>
        Figyelmeztető darabszám: <%= @component.criticalNrOfPieces %> <br>
    </body>
</html>
